.Box {
    margin: 0.5em auto;
    padding: 1em 0em;
    box-shadow: 0.25em 0.25em 0.25em brown;
    font-weight: bold;
}

.Box input {
    float: left;
    margin: 0 1em;
    font-weight: bold;
    width: 80%;
}

.Box button {
    background-color: inherit; 
    color: white;
    font-weight: bold;
    margin: 0em 1em;
}

.Box i {
    float: right;
    padding: 0 0.5em;
}